body {
  margin: 0;
  font-family: 'Krub', sans-serif;
  background-color: #EDEDED;
}

section.nav {
  background-color: #DF0717;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  color: white;
}

section.nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
}

section.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main .filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main .filters div {
  margin: 1rem 2rem;
  cursor: pointer;
}

.titles {
  margin: 1rem;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 1rem;
  height: 350px;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.card:hover {
  box-shadow: 0 25px 20px 0 rgba(0,0,0,.16), 0 -1px 2px 0 rgba(0,0,0,.1);
}

.card .top {
  display: flex;
  flex-direction: column;
}

.card .top img {
  height: 250px;
  width: 332px;
  object-fit: cover;
  margin: 0 -16px;
}

.card .top .price {
  margin: -2rem 1rem 0;
  background-color: white;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card .bottom {
  margin-top: 1rem;
}
